{%extends 'web/list_base.html'%}
{%load static%}
{%block content%}
<div class="file_text">
  <h1>
      파일명 : {{file_name}}
  </h1>
  <form class="file_delete_btn" name="file_delete_btn" action="{%url 'web:file_delete'%}" method="post">
    {%csrf_token%}
    <input style="display:none;" type="text" name="file_name" value="{{file_name}}">
    <button type="submit">삭제</button>
  </form>
  <form class="file_edit_btn" name="file_edit_btn" action="{%url 'web:file_edit'%}" method="post" onsubmit="return validate_edit();">
    {%csrf_token%}
    <input style="display:none;" type="text" name="file_name" value="{{file_name}}">
    <input id="file_new_name" type="text" name="file_new_name" placeholder="파일명 입력">
    <button type="submit">수정</button>
  </form>
  <br><br>
  <h1>필터링 단어 :
      {%for word in word_list%}
          [{{word}}]
      {%endfor%}
  </h1>
  <form class="word_add_btn" action="{%url 'web:word_add' file_pk=file_pk%}" name="word_add_btn" method="post" onsubmit="return validate_word_add();">
      {%csrf_token%}
      <input id="word_new_name" type="text" name="word_name" placeholder="단어 입력">
      <button type="submit">단어추가</button>
  </form>
  <form class="word_delete_btn" action="{%url 'web:word_delete' file_pk=file_pk%}" name="word_delete_btn" method="post">
      {%csrf_token%}
      <button type="submit">전체삭제</button>
  </form>
  <br><br>
  <p>
    {%for word, cnt in word_cnt.items%}
     
	* {{word}} 단어 {{cnt}} 번 조회됨<br>
    {%endfor%}
    <br><br>
    {%for line in text%}
      {{line|linebreaks}}
    {%endfor%}
  </p>
</div>
{%endblock%}
