{%extends 'web/form_base.html'%}
{%load static%}
{%block content%}
    <div class="form_1_box">
        <div class="form_1_intro_box">
            <h1>심사를 시작합니다!</h1><br>
            <h2>해당 심사는 모아중개 제휴업체(개인대부업체)만의 심사로,</h2>
            <h2>귀하의 신용등급에 영향을 끼치지 않습니다.</h2>
            <h2>모아중개만의 새로운 비대면심사로 <br>편리하고 빠르게 이용해 보세요.</h2>
        </div><br><br>
        <div class="btn">
            <button class="blue" onclick="location.href='new_form'">신청서 작성하기</button>
        </div>
    </div>
{%endblock%}